<header>
   <hr>
<h1>{{title}}</h1>
 <hr>
<div>
    <a href='/'>Weather</a>
    <a href='/cities'>Weather Forecast Cities</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</div>
 <hr>
 <p>{{txt}}</p>
</header>